.company {
body{
background-color: #77d;
}
h1 {
margin: 0;
padding-bottom: 10.5em;
font: 15% sans-serif;
color: #226;
border-bottom: 3px dotted #77d;
}
#main {
margin-left: 67em;
padding: 2em;
background: white;
}
}
